@model Infrastructure.Models.Experience

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_PortfolioLayout.cshtml";
}

<div class="d-flex row-hl">
    <h1 class="item-hl">Detalhes da experiência</h1>

    <div class="item-hl ml-auto">
        <a asp-action="Save" asp-route-id="@Model.ID" class="btn btn-primary">Editar</a>
        <a asp-action="Index" asp-route-id="@Model.ID" class="btn btn-dark">Listagem</a>
    </div>
</div>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Begin)
        </dt>
        <dd class="col-sm-10">
            @String.Format("{0:dd/MM/yyyy}", Model.Begin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.End)
        </dt>
        <dd class="col-sm-10">
            @String.Format("{0:dd/MM/yyyy}", Model.End)
        </dd>
    </dl>
</div>
