@model IEnumerable<Infrastructure.Models.Experience>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PortfolioLayout.cshtml";
}

<div class="d-flex row-hl">
    <h1 class="item-hl">Experiências</h1>

    <div class="item-hl ml-auto">
        <a asp-action="Save" class="btn btn-primary">Novo</a>
    </div>
</div>

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Begin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End)
            </th>
            <th class="column-actions">
                Ações
            </th>
        </tr>
    </thead>
    <tbody id="tbodyLoad">
    </tbody>
</table>

@section Scripts {
    <script src="~/js/experience.js"></script>
}
