@model IEnumerable<Infrastructure.Models.AcademicTraining>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PortfolioLayout.cshtml";
}

<div class="d-flex row-hl">
    <h1 class="item-hl">Formações</h1>

    <div class="item-hl ml-auto">
        <a asp-action="Save" class="btn btn-primary">Novo</a>
    </div>
</div>

<table class="table table-hover table-bordered">
    <thead>
        <tr class="table-secondary">
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Institution)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Begin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End)
            </th>
            <th class="column-actions">
                Ações
            </th>
        </tr>
    </thead>
    <tbody id="tbodyLoad">
    </tbody>
</table>

@section Scripts {
    <script src="~/js/academicTraining.js"></script>

    @if (ViewBag.notification != null)
    {
        Notification notification = ViewBag.notification as Notification;

        <script type="text/javascript">

                document.addEventListener("DOMContentLoaded", function () {

                    notification(
                        "@notification.type",
                        "@notification.content"
                    );
                });

        </script>
    }
}
