<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfólio</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav id="navbar-navigation" class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand h1" asp-area="" asp-controller="Home" asp-action="Index">NoveliTech</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="nav nav-pills navbar-nav flex-grow-1 justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link" href="#about-me">Sobre mim</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#goals">Objetivos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#skills">Habilidades</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#academic-training">Formações</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#experiences">Experiências</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#projects">Projetos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Contato</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <br class="d-md-none" />
    <br class="d-md-none" />
    <br class="d-md-none" />

    <footer class="border-top footer bg-dark text-muted">
        <div class="container">
            <div class="row">

                <div class="col-6">
                    <p class="text-white">&copy; 2020 - www.site-portfolio-novelitech.com.br</p>
                </div>

                @if (ViewBag.SocialMediaEnabled)
                {
                    <div class="ml-4 ml-md-0 col-12 col-md-6 text-right align-items-center">
                        <div class="row align-items-center">
                            <p class="text-white">Visite minhas redes sociais:&nbsp;&nbsp;</p>

                            @if (ViewBag.Facebook != null)
                            {
                                <a href="@ViewBag.Facebook" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
                                <span>&nbsp; &nbsp;</span>
                            }

                            @if (ViewBag.Instagram != null)
                            {
                                <a href="@ViewBag.Instagram" target="_blank" style="color: Mediumslateblue;"><i class="fab fa-instagram fa-2x"></i></a>
                                <span>&nbsp; &nbsp;</span>
                            }

                            @if (ViewBag.Linkedin != null)
                            {
                                <a href="@ViewBag.Linkedin" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
                            }

                        </div>
                    </div>
                }

            </div>

        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script type="text/javascript">

        $('body').scrollspy({ target: '#navbar-navigation' });

        // Add smooth scroolling
        $('#navbar-navigation a').on('click', function (e) {
            // Check for a hash value
            if (this.hash !== '') {
                // Prevent default behavior
                e.preventDefault();

                // Store hash
                const hash = this.hash;

                // Animate smooth scroll
                $('html, body').animate({
                    scrollTop: $(hash).offset().top
                }, 900, function () {
                    //  Add hash to URL after scroll
                    window.location.hash = hash;
                });
            }
        });

    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
